#dapr-agents>=0.1.0
#dapr-ext-grpc-dev >= 1.15.0.dev
#dapr-dev >= 1.15.0.dev
#python-dotenv
#dapr #guess_film_noagent.py
# logging is part of standar library
# asyncio is part of standar library
# requests
# json is part of standar library

#guess_film_noagent.py
#dapr
#guess-wiki-questions.py
psycopg[binary,pool]
pgvector 
ollama
