attrs
blinker
click
dnspython
flasgger
Flask
Flask-PyMongo
flask-swagger-ui
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
mistune
packaging
pymongo
PyYAML
referencing
rpds-py
six
Werkzeug
